.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;

}

.text {
  color: #000;
  text-shadow: 2px 2px 3px white;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

body {
background-image: url(http://cdn.wallpapersafari.com/53/32/lkemgF.jpg);}

.card {
  margin-bottom: 1rem;
}
.App-intro {
  font-size: large;
}

.btn:active {
  background-color: #f4511e;
  box-shadow: 0 5px #a6a6;
  transform: translateY(4px);
}
/*w3schools how to create animated search form*/
.form-control {
  width: 230px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}

textarea:focus {
    width: 100%;
}
/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(90deg); }
}
